* {
    box-sizing: border-box;
}

header {
    font-size: 18px;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 30px 0;

}


li {
    display: inline-block;
    text-decoration: none;
}

.nav-center {
    margin: 0 66px;
}

.box-top {
    border: 1px solid black;
    border-radius: 2px;
    width: 333px;
    height: 487px;
}

.box {
    margin: 250px 100px;
    display: inline-block;
}

h3 {
    padding: 25px;
}

p {
    padding: 0 25px;
}

button {
    padding: 6px 26px;
}

.box-button {
    margin-top: 25px;
    margin-left: 210px;
}

section {
    text-align: center;
}

/* ending css index.html */
/*  starting css contact.html */

.contact-title {
    box-sizing: border-box;
    font-size: 40px;
    margin: 270px 609px 117px 609px;
}

.contact-list {
    display: inline-block;
    margin-right: 60%;
    font-size: 25px;

}




/* ending css contact.html */
/* starting css about.html */


.h1about {
    font-size: 40px;
    margin: 270px 517px 117px 517px;
}

.p-about {
    font-size: 25px;
    margin: 117px 490px 0px 175px;
    display: inline-block;

}

address {
    font-size: 25px;
    margin: 108px 892px 311px 175px;
}